# Pair Programming ANOVA

    - En el pair programming de hoy usaremos el set de datos que guardast√©is en el pair programming de normalizaci√≥n y estandarizaci√≥n.
    - Hasta ahora hab√©is estado evaluando las caracter√≠sticas de vuestro set de datos y hab√©is hecho una gran exploraci√≥n, es el momento de hacer vuestro primer ANOVA! En el ejercicio de hoy tendr√©is que hacer un ANOVA con vuestro datos y hacer una interpretaci√≥n de los resultados.
    - üìå NOTA Puede que vuestros datos no se ajusten o no cumplan todas las asunciones, no pasa nada, haced el ANOVA e interpretad los resultados. En pr√≥ximas lecciones aprenderemos que podemos hacer cuando nos encontramos en esta situaci√≥n.

In [31]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import numpy as np
import pandas as pd
import random 

# Gr√°ficos
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Estad√≠sticos
# ------------------------------------------------------------------------------
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from sklearn.preprocessing import StandardScaler

plt.rcParams["figure.figsize"] = (10,8)

In [32]:
df = pd.read_csv('../datos/supermarket_no_estandarizado.csv', index_col = 0)
df.head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Payment,Rating,hora_compra,mes_compra,RATING_BOX,RATING_LOG
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,0.71816,0.50993,0.919607,0.919607,Ewallet,9.1,Ma√±ana,January,1.219986,1.157015

In [33]:
columnas_nuevas = {col: col.replace(' ', '_').replace('%', '') for col in df.columns}

In [34]:
df.rename(columns = columnas_nuevas, inplace = True)

In [35]:
df.head(1)

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5,Total,Payment,Rating,hora_compra,mes_compra,RATING_BOX,RATING_LOG
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,0.71816,0.50993,0.919607,0.919607,Ewallet,9.1,Ma√±ana,January,1.219986,1.157015

In [36]:
lm = ols('Rating ~ Quantity  + City + Tax_5 +  Total + Unit_price + Customer_type + Gender + Payment + hora_compra + mes_compra' , data=df).fit()
sm.stats.anova_lm(lm)

                  df       sum_sq   mean_sq         F    PR(>F)
City             2.0    12.233579  6.116789  2.072738  0.126389
Customer_type    1.0     1.118048  1.118048  0.378862  0.538355
Gender           1.0     0.100740  0.100740  0.034137  0.853454
Payment          2.0     0.761346  0.380673  0.128995  0.878993
hora_compra      2.0     4.862230  2.431115  0.823809  0.439059
mes_compra       2.0    10.214200  5.107100  1.730594  0.177717
Quantity         1.0     0.706522  0.706522  0.239412  0.624740
Tax_5            1.0     3.826289  3.826289  1.296578  0.255116
Total            1.0     0.613435  0.613435  0.207869  0.648543
Unit_price       1.0     6.686805  6.686805  2.265893  0.132570
Residual       986.0  2909.752812  2.951068       NaN       NaN

In [38]:
lm2 = ols('RATING_BOX ~ Quantity  + City + Tax_5 +  Total + Unit_price + Customer_type + Gender + Payment + hora_compra + mes_compra' , data=df).fit()
sm.stats.anova_lm(lm2)

                  df      sum_sq   mean_sq         F    PR(>F)
City             2.0    4.152417  2.076209  2.076485  0.125918
Customer_type    1.0    0.428131  0.428131  0.428188  0.513032
Gender           1.0    0.055028  0.055028  0.055035  0.814572
Payment          2.0    0.244476  0.122238  0.122254  0.884937
hora_compra      2.0    1.730647  0.865323  0.865439  0.421186
mes_compra       2.0    3.408001  1.704001  1.704228  0.182448
Quantity         1.0    0.247439  0.247439  0.247472  0.618972
Tax_5            1.0    1.407814  1.407814  1.408001  0.235674
Total            1.0    0.177685  0.177685  0.177708  0.673442
Unit_price       1.0    2.362563  2.362563  2.362878  0.124574
Residual       986.0  985.868617  0.999867       NaN       NaN

In [39]:
lm2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             RATING_BOX   R-squared:                       0.014
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     1.087
Date:                Tue, 09 May 2023   Prob (F-statistic):              0.366
Time:                        10:40:14   Log-Likelihood:                -1411.8
No. Observations:                1000   AIC:                             2852.
Df Residuals:                     986   BIC:                             2920.
Df Model:                          13
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                  -0.0313      0.101     -0.310      0.757      -0.229       0.167
City[T.Naypyitaw]           0.1584      0.078      2.025      0.043       0.005       0.312
City[T.Yangon]              0.1256      0.078      1.618      0.106      -0.027       0.278
Customer_type[T.Normal]     0.0451      0.064      0.709      0.478      -0.080       0.170
Gender[T.Male]              0.0255      0.064      0.399      0.690      -0.100       0.151
Payment[T.Credit card]      0.0384      0.079      0.488      0.625      -0.116       0.193
Payment[T.Ewallet]         -0.0048      0.077     -0.063      0.950      -0.155       0.145
hora_compra[T.Noche]       -0.0573      0.079     -0.723      0.470      -0.213       0.098
hora_compra[T.Tarde]       -0.0939      0.075     -1.248      0.212      -0.242       0.054
mes_compra[T.January]      -0.0411      0.079     -0.523      0.601      -0.195       0.113
mes_compra[T.March]        -0.1358      0.079     -1.713      0.087      -0.291       0.020
Quantity                    0.1140      0.074      1.541      0.124      -0.031       0.259
Tax_5                      -0.0929      0.048     -1.940      0.053      -0.187       0.001
Total                      -0.0929      0.048     -1.940      0.053      -0.187       0.001
Unit_price                  0.1065      0.068      1.568      0.117      -0.027       0.240
==============================================================================
Omnibus:                      426.476   Durbin-Watson:                   1.984
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.122
Skew:                          -0.062   Prob(JB):                     2.92e-12
Kurtosis:                       1.878   Cond. No.                     9.59e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.19e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [37]:
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Rating   R-squared:                       0.014
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     1.064
Date:                Tue, 09 May 2023   Prob (F-statistic):              0.387
Time:                        10:39:16   Log-Likelihood:                -1953.0
No. Observations:                1000   AIC:                             3934.
Df Residuals:                     986   BIC:                             4003.
Df Model:                          13
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                   6.9183      0.173     39.921      0.000       6.578       7.258
City[T.Naypyitaw]           0.2708      0.134      2.015      0.044       0.007       0.535
City[T.Yangon]              0.2170      0.133      1.628      0.104      -0.045       0.479
Customer_type[T.Normal]     0.0737      0.109      0.675      0.500      -0.141       0.288
Gender[T.Male]              0.0382      0.110      0.347      0.729      -0.178       0.254
Payment[T.Credit card]      0.0693      0.135      0.513      0.608      -0.196       0.335
Payment[T.Ewallet]         -0.0058      0.131     -0.044      0.965      -0.264       0.252
hora_compra[T.Noche]       -0.0932      0.136     -0.685      0.494      -0.360       0.174
hora_compra[T.Tarde]       -0.1578      0.129     -1.221      0.223      -0.411       0.096
mes_compra[T.January]      -0.0672      0.135     -0.497      0.619      -0.332       0.198
mes_compra[T.March]        -0.2341      0.136     -1.719      0.086      -0.501       0.033
Quantity                    0.1907      0.127      1.501      0.134      -0.059       0.440
Tax_5                      -0.1556      0.082     -1.892      0.059      -0.317       0.006
Total                      -0.1556      0.082     -1.892      0.059      -0.317       0.006
Unit_price                  0.1796      0.117      1.539      0.124      -0.049       0.409
==============================================================================
Omnibus:                      463.824   Durbin-Watson:                   1.983
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.806
Skew:                           0.019   Prob(JB):                     2.07e-12
Kurtosis:                       1.864   Cond. No.                     9.59e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.19e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

Tras chequear los resultados del ANOVA, comprobamos que la columna de ciudad que no hab√≠amos considerado hasta ahora, SI puede tener relaci√≥n en el Rating del cliente. Las variables num√©ricas como ya hab√≠amos visto no tienen ning√∫n efecto, y las categ√≥ricas al contrario de lo que pens√°bamos tampoco tienen ningun efecto.

Vemos que tenemos un R-squared de 0.016: el resultado es muy bajo, por lo que concluimos que las variables predictoras no explican nuestra variable respuesta ('Rating').